Añadir comentario: <br>

<form action="/quizes/<%= quizid %>/comments/" method="post">
  <input type="text" id="comment" name="comment[texto]" value="" /><br>
  <button type="submit">Enviar</button>
</form>
